###> Docker ###
docker/docker-compose.override.yml
docker/php/ssh
docker/php/git
docker/data/shell_history/.x_history
###< Docker ###

###> Misc ###
.idea
/vendor/
Http/rest-client.private.env.json
frontend/node_modules
node_modules
.DS_Store
###< Misc ###

###> friendsofphp/php-cs-fixer ###
.php_cs
.php_cs.cache
lsp
###< friendsofphp/php-cs-fixer ###


